.build/
build/
flecs-jai/examples/*/*.dll
flecs-jai/examples/*/*.ilk
flecs-jai/examples/*/*.lib
flecs-jai/examples/*/*.pdb
flecs-jai/examples/*/*.exe
flecs-jai/examples/*/.vs
raylib/examples/*/*.exe
raylib/examples/*/*.pdb
raylib/examples/*/*.dll
